In [12]:
# import pandas
import pandas as pd
# import numpy
import numpy as np

In [13]:
# read the file from CSV from the suggestions, read cedula as string
df_suggestions = pd.read_csv('../storage/CSVs/supercias.consultas_personal_suggestion.csv', low_memory=False, dtype={'cedula': str})

# print head 
print(df_suggestions.head())

                        _id         cedula                            nombre
0  66204621873b7dc9fe57f284  0993291498001                  S150 SOLE S.A.S.
1  66204622873b7dc9fe57f293     1718591322  SANTANDER LONDOÑO KAROL STEPHANY
2  66204622873b7dc9fe57f294     1312599549       GARCIA SORNOZA DIEGO XAVIER
3  66204622873b7dc9fe57f297     1150488607     MASA CHUQUI JHULISSA PATRICIA
4  66204622873b7dc9fe57f298     1719517839   LLERENA FLORES CRISTIAN ROBERTO

In [14]:
df_suggestions = df_suggestions.drop('_id', axis=1)
# print head
print(df_suggestions.head())

          cedula                            nombre
0  0993291498001                  S150 SOLE S.A.S.
1     1718591322  SANTANDER LONDOÑO KAROL STEPHANY
2     1312599549       GARCIA SORNOZA DIEGO XAVIER
3     1150488607     MASA CHUQUI JHULISSA PATRICIA
4     1719517839   LLERENA FLORES CRISTIAN ROBERTO

In [15]:
# sperate the data set beteween the ones that have a cedula and the ones that don't
df_suggestions_with_cedula = df_suggestions[df_suggestions['cedula'].notnull()]
df_suggestions_without_cedula = df_suggestions[df_suggestions['cedula'].isnull()]
print('with cedula')
print(df_suggestions_with_cedula.head())
print(df_suggestions_with_cedula.shape)
print('without cedula')
print(df_suggestions_without_cedula.head())
print(df_suggestions_without_cedula.shape)

with cedula
          cedula                            nombre
0  0993291498001                  S150 SOLE S.A.S.
1     1718591322  SANTANDER LONDOÑO KAROL STEPHANY
2     1312599549       GARCIA SORNOZA DIEGO XAVIER
3     1150488607     MASA CHUQUI JHULISSA PATRICIA
4     1719517839   LLERENA FLORES CRISTIAN ROBERTO
(6054008, 2)
without cedula
        cedula                            nombre
1734688    NaN                  S150 SOLE S.A.S.
1734689    NaN                     GANE-INC S.A.
1734690    NaN               PAZMIÑO RIVAS PEDRO
1734691    NaN                     CARTOTUB S.A.
1734692    NaN  SANTANDER LONDOÑO KAROL STEPHANY
(1711965, 2)

In [16]:
# remove any duplicates in both data sets
# for the ones with cedula remove duplicate based on cedula
df_suggestions_with_cedula = df_suggestions_with_cedula.drop_duplicates(subset='cedula')
print('with cedula')
print(df_suggestions_with_cedula.head())
print(df_suggestions_with_cedula.shape)
# for the ones without cedula remove duplicate based on nombre column
df_suggestions_without_cedula = df_suggestions_without_cedula.drop_duplicates(subset='nombre')
print('without cedula')
print(df_suggestions_without_cedula.head())
print(df_suggestions_without_cedula.shape)

with cedula
          cedula                            nombre
0  0993291498001                  S150 SOLE S.A.S.
1     1718591322  SANTANDER LONDOÑO KAROL STEPHANY
2     1312599549       GARCIA SORNOZA DIEGO XAVIER
3     1150488607     MASA CHUQUI JHULISSA PATRICIA
4     1719517839   LLERENA FLORES CRISTIAN ROBERTO
(931958, 2)
without cedula
        cedula                            nombre
1734688    NaN                  S150 SOLE S.A.S.
1734689    NaN                     GANE-INC S.A.
1734690    NaN               PAZMIÑO RIVAS PEDRO
1734691    NaN                     CARTOTUB S.A.
1734692    NaN  SANTANDER LONDOÑO KAROL STEPHANY
(415433, 2)

In [17]:
# remove row from without cedula that are in with cedulas
df_suggestions_without_cedula = df_suggestions_without_cedula[~df_suggestions_without_cedula['nombre'].isin(df_suggestions_with_cedula['nombre'])]
print('without cedula')
print(df_suggestions_without_cedula.head())
print(df_suggestions_without_cedula.shape)

without cedula
        cedula                                  nombre
1734768    NaN                       DIMITRY FALKOVICH
1734772    NaN   BEATRIZ JUDIT ANTONIA BALLA DE FABBRI
1734773    NaN  BEATRIZ JUDIT ANTONIA BALLA DE FABBRI.
1734833    NaN           BARREIRO GAMBOA JAIME EDUARDO
1734849    NaN               CALLE PINO KETTY VICTORIA
(183536, 2)

In [18]:
# join the two data sets again
df_suggestions = pd.concat([df_suggestions_with_cedula, df_suggestions_without_cedula])
print(df_suggestions.head())
print(df_suggestions.shape)

          cedula                            nombre
0  0993291498001                  S150 SOLE S.A.S.
1     1718591322  SANTANDER LONDOÑO KAROL STEPHANY
2     1312599549       GARCIA SORNOZA DIEGO XAVIER
3     1150488607     MASA CHUQUI JHULISSA PATRICIA
4     1719517839   LLERENA FLORES CRISTIAN ROBERTO
(1115494, 2)

In [20]:
# put it back into the mongo db
# import the mongo client
import pymongo
from pymongo import MongoClient
# connect to the client
client = MongoClient('localhost', 27017)
# connect to the database
db = client['supercias']
# connect to the collection
collection = db['consultas_personal_suggestion_cleaned']
# convert the data frame to dictionary
data = df_suggestions.to_dict(orient='records')
# insert the new data
collection.insert(data)

TypeError: 'Collection' object is not callable. If you meant to call the 'insert' method on a 'Collection' object it is failing because no such method exists.