# Clean and process CNE data
This script will connect to the mongodb and query the database by person

In [6]:
from pymongo import MongoClient
import pandas as pd

endpoint = '10.0.10.5:27017'
database = 'CNE'
# define the databse
db = MongoClient('mongodb://'+endpoint)[database]

read the df from the mongodb

In [7]:
# Connect to MongoDB
cne_collection= db['cne']
# make a df from the collection
df = pd.DataFrame(list(cne_collection.find()))
df.head()

,_id,nombre,recinto,junta,direccion,provincia,canton,parroquia,zona,cedula,error
0,66c35e46bf2d128454bd3811,VIZCAINO RON GIOMARA BELEN,Cancha Deportiva de Uso Multiple Profesor Juli...,NaN,NaN,NaN,NaN,NaN,NaN,2000106852,NaN
1,66c35e46bf2d128454bd3812,MASAQUIZA MASAQUIZA NELLY MICHELLE,Unidad Educativa Galo Plaza Lasso,NaN,NaN,NaN,NaN,NaN,NaN,2000154142,NaN
2,66c35e46bf2d128454bd3813,ROBALINO CARLOS EDUARDO,Unidad Educativa Fiscomisional SAn Francisco d...,NaN,NaN,NaN,NaN,NaN,NaN,2000020608,NaN
3,66c35e46bf2d128454bd3814,MORA SERRANO EDISON DANIEL,Coliseo San Crist贸bal,NaN,NaN,NaN,NaN,NaN,NaN,2000012738,NaN
4,66c35e46bf2d128454bd3815,JUMBO CAMACHO JENIXER JOMAYRA,Unidad Educativa Fiscomisional San Crist贸bal /...,NaN,NaN,NaN,NaN,NaN,NaN,2000080446,NaN

In [10]:
# get the number of values that are repated in cedulas
#print(df['cedula'].value_counts())

# remove all duplicates with the cedula value
df = df.drop_duplicates(subset='cedula', keep='first')

print(df.shape)

(14323191, 11)

In [ ]:
# write df to mongodb
collection = 'cne_unique'

db[collection].insert_many(df.to_dict('records'))